.about {
  scroll-snap-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  padding: 4rem;
  border-radius: 24px;
}

.about-img {
  width: 22rem;
  background: linear-gradient(109deg, rgba(66,51,255,1) 0%, rgba(192,49,253,1) 90%, rgba(187,44,232,1) 100%);
  object-fit: cover;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(159, 159, 159, 0.1);
  margin-left: -110px;
  margin-right: 80px;
}

.about-info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about-box {
  background-color: var(--body-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-icon {
  font-size: 1.5rem;
  color: var(--title-colr);
  margin-bottom: var(--mb-0-5);
}

.about-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.about-subtitle {
  font-size: var(--smaller-font-size);
}

.about-description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-1-5);
}

/* breakpoints*/
/*large devices*/
@media screen and (max-width: 992px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    margin: 2rem;
  }

  .about-img {
    max-width: 300px;
    margin: -120px 0 50px 0;
  }

  .about-box {
    padding: 0.75rem 0.5rem;
  }

  .about-data {
    text-align: center;
  }

  .about-info {
    justify-content: center;
  }

  .about-description {
    padding: 0 5rem;
    margin-bottom: 1rem;
  }
}

/*medium devices*/
@media screen and (max-width: 576px) {
  .about-container{
    padding: 1rem;
    margin: 5rem;
  }

  .about-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .about-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-box{
    background: transparent;
    border: none;
    width: 6rem;
  }

  .about-description {
    padding: 0;
  }
}

/*small devices*/
@media screen and (max-width: 350px) {
  .about-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
